<div class="container-fluid">
  {{this.registrationForm.value | json}}
  <form [formGroup]="registrationForm" (submit)="onSubmit()" class="card-body px-lg-5 pt-0">
    <div class="form-group">
    <label for="mo">Question:</label>
    <input type="text" id="tx" placeholder="Type the question" class="form-control" formControlName="ques">
    </div>
    <div class="form-group">
    <label for="mo3">Answer:</label>
    <input type="text" id="tx3" placeholder="Answer" class="form-control"  formControlName="answer">
  </div>
  <button type="submit"  class="btn btn-info">Ok</button>
  </form>
  
</div>